

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 2px solid lightcoral;
}
.header h1{
  color:lightcoral
}